.circle-div-icon {
    border-radius: 20px;
    background-color:rgba(169, 228, 31, 0.5);
    text-align: center;
    font-size: 12px;
}

.circle-div-icon div {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    background-color:rgba(110,204,57,0.6);
}

.circle-div-icon span {
    line-height: 30px;
}