.form {
    position: fixed ;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    opacity: 0;
    transition: 0.5s;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.form.active{
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
}
.form_container {
    padding: 20px;
    background-color: white;
    justify-content: center;
    color: black;
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: auto;
    width: 50%;
    display:inline-block;
    float:right;
}
