.treeFormMain {
    margin: 0 auto;
    border-radius: 1.7%;
    background-color: white;
    padding: 2%;
}

.treeFormMain label {
    color: #4b4b4b;
}

@media screen and (min-width: 1200px) {
    .treeFormMain {
        width: 60%;
        margin: 0 auto;
        border-radius: 1.7%;
        background-color: white;
        padding: 2%;
    }

    .treeFormMain input{
        text-align: right;
        width: 21%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .metric {
        font-size: 100%;
    }

    .treeFormMain .metric.margin {
        margin-right: 2%;
    }

    .treeFormMain .metric.margincm {
        margin-right: 1%;
    }

    .treeFormMain input[type=text]{
        width: 70.6%;
    }

    .treeFormMain input[type=email]{
        width: 70.6%;
    }

    .treeFormMain span {
        font-size: 100%;
        width: 20%;
        color: rgba(0,0,0,0.5);
        display: inline-block;
    }

    .treeFormMain input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .treeFormMain select {
        font-size: 100%;
        width: 70.6%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain select.status {
        width: 21%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
    }

    .treeFormMain .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 21%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .treeFormMain .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .treeFormMain .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .treeFormMain .center.h4 {
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 992px) and (max-width : 1199px) {
    .treeFormMain .treeFormMain {
        width: 60%;
        margin: 0 auto;
        border-radius: 1.7%;
        background-color: white;
        padding: 2%;
    }

    .treeFormMain input{
        text-align: right;
        width: 20%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .metric {
        font-size: 100%;
    }

    .treeFormMain .metric.margin {
        margin-right: 3%;
    }

    .treeFormMain .metric.margincm {
        margin-right: 1.5%;
    }

    .treeFormMain input[type=text]{
        width: 70.6%;
    }

    .treeFormMain input[type=email]{
        width: 70.6%;
    }

    .treeFormMain span {
        font-size: 100%;
        width: 21%;
        color: rgba(0,0,0,0.5);
        display: inline-block;
    }

    .treeFormMain select {
        font-size: 100%;
        width: 70.6%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .treeFormMain .main {
        width:850px;
        border-radius: 5.7px;
        background-color: white;
        margin: 0 auto;
        padding-left: 4%;
        flex-wrap: wrap;
    }

    .treeFormMain select.status {
        width: 21%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
    }

    .treeFormMain .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 20%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .treeFormMain .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .treeFormMain .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .treeFormMain .center.h4 {
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 691px) and (max-width: 991px) {
    .treeFormMain {
        width: 60%;
        margin: 0 auto;
        border-radius: 1.7%;
        background-color: white;
        padding: 2%;
    }

    .treeFormMain input{
        text-align: right;
        width: 17%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .metric {
        font-size: 100%;
    }


    .treeFormMain .metric.margin {
        margin-right: 4%;
    }

    .treeFormMain .metric.margincm {
        margin-right: 2%;
    }

    .treeFormMain input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .treeFormMain input[type=text]{
        width: 70.6%;
    }

    .treeFormMain input[type=email]{
        width: 70.6%;
    }

    .treeFormMain span {
        font-size: 100%;
        width: 23%;
        color: rgba(0,0,0,0.5);
        display: inline-block;
        word-wrap: break-word;
    }

    .treeFormMain select {
        font-size: 100%;
        width: 70.6%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .main {
        width: 700px;
        border-radius: 1.7%;
        background-color: white;
        margin: 0 auto;
        padding: 3%;
        flex-wrap: wrap;
    }

    .treeFormMain select.status {
        width: 17%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
    }

    .treeFormMain .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 17%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .treeFormMain .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .treeFormMain .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .treeFormMain .center.h4{
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 481px) and (max-width: 690px) {
    .treeFormMain {
        width: 100%;
        margin: 0 auto;
        border-radius: 1.7%;
        background-color: white;
        padding: 2%;
    }
    .treeFormMain input{
        text-align: right;
        width: 62%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .metric {
        font-size: 100%;
    }

    .treeFormMain input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .treeFormMain span {
        font-size: 100%;
        width: 25%;
        color: rgba(0,0,0,0.5);
        display: inline-block;
        word-wrap: break-word;
    }

    .treeFormMain select {
        font-size: 100%;
        width: 62%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .main {
        width: 430px;
        border-radius: 1.7%;
        background-color: #F3F6FA;
        margin: 0 auto;
        padding: 5%;
        flex-wrap: wrap;
    }

    .treeFormMain .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 62%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .treeFormMain .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .treeFormMain .block {
        display: block;
    }

    .treeFormMain .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .treeFormMain .center.h4 {
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .treeFormMain {
        width: 70%;
        margin: 0 auto;
        border-radius: 1.7%;
        background-color: white;
        padding: 2%;
        flex-wrap: wrap;
    }

    .treeFormMain input{
        text-align: right;
        width: 55%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .metric {
        font-size: 50%;
    }

    .treeFormMain input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .treeFormMain span {
        font-size: 50%;
        width: 25%;
        color: rgba(0,0,0,0.5);
        display: inline-block;
        word-wrap: break-word;
    }

    .treeFormMain select {
        text-align-last: right;
        width: 55%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .main {
        width:300px;
        border-radius: 1.7%;
        background-color: #F3F6FA;
        margin: 0 auto;
        padding: 2%;
        flex-wrap: wrap;
    }

    .treeFormMain .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 55%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        text-align:right;
    }

    .treeFormMain .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 75%;
        word-wrap: normal;
    }

    .treeFormMain .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 100%;
    }

    .treeFormMain .center.h4 {
        margin:1%;
        font-size: 75%
    }

    .treeFormMain .block {
        display: block;
    }
}

@media screen and  (max-width: 320px) {
   .treeFormMain  input{
        text-align: right;
        width: 35%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .metric {
        font-size: 50%;
    }

    .treeFormMain input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    }

    .treeFormMain span {
        font-size: 50%;
        width: 35%;
        color: rgba(0,0,0,0.5);
        display: inline-block;
    }

    .treeFormMain select {
        text-align-last: right;
        width: 35%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .treeFormMain .main {
        width:220px;
        border-radius: 1.7%;
        background-color: #F3F6FA;
        margin: 0 auto;
        padding: 2%;
        flex-wrap: wrap;
    }

    .treeFormMain .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 35%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        text-align:right;
    }

    .treeFormMain .block {
        display: block;
    }

    .treeFormMain .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 75%;
    }

    .treeFormMain .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 100%;
    }

    .treeFormMain .center.h4 {
        margin:1%;
        font-size: 75%
    }
}

.treeFormMain input[type=file] {
    width: 20%;
    margin: 0px;
    padding: 0px;
    color: #3388ff;
    border:1px solid #3388ff;
    border-radius: 5.7px;
}

.treeFormMain input[type=submit]{
    color: white;
    background-color: #4eb543;
    border-color: #4eb543;
    text-align: center;
    padding: 2%;
    width: 50%;
    opacity: 0.6;
}

.treeFormMain input[type=submit]:hover{
    opacity: 0.8;    ;
}

.treeFormMain input[type=submit]:active{
    opacity: 1;
}

.treeFormMain .center {
    text-align: center;
}

.treeFormMain .submit {
    text-align: center;
    padding: 0px 5% 5%;
}

.treeFormMain .input__file {
    width: 20%;
    visibility: hidden;
    position: absolute;
}

.treeFormMain .inputWrapper {
    position:sticky;
}

.treeFormMain .fileform {
    cursor: pointer;
    position: relative;
    height: 20vh;
    padding: 0.1%;
    text-align: left;
    width: 20%;
}

.treeFormMain .fileform .selectbutton {
    color: #3388ff;
    border:1px solid #3388ff;
    border-radius: 2.8px;
    left: 10%;
    font-size: 100%;
    padding: 0.05% 0.15%;
    text-align: center;
    width: 20%;
    position: absolute;
}

.treeFormMain .fileform.upload{
    position: absolute;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
}

.treeFormMain .fileform .fileformlabel {
    float: left;
    border: 1px solid #000000;
    height: 2%;
    font-size: 100%;
    position: absolute;
    padding: 0.05% 0.15%;
    text-align: left;
    width: 20%;
}
