* {
  box-sizing: border-box;
  font-family: "Recursive", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 10% 0;
  padding-bottom: 0;
}

.login-container {
  -webkit-box-shadow: 0px 0px 15px -5px rgba(34, 60, 80, 0.57);
  -moz-box-shadow: 0px 0px 15px -5px rgba(34, 60, 80, 0.57);
  box-shadow: 0px 0px 15px -5px rgba(34, 60, 80, 0.57);
  background-color: white;
}

.login-form input {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid rgb(175, 175, 175);
  height: 50px;
  margin-bottom: 15px;
  padding: 0px 24px;
}

.login-form input:focus {
  outline: none;
  border: 2px solid rgb(104, 103, 103);
}

.login-form button {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
  height: 50px;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #50802c;
  cursor: pointer;
  margin: 15px 0px;
}

.login-form button:hover,
.login-form button:active {
  background-color: #4c7929;
}

.login-form .login-message {
  color: lightgray;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.login-form .flex {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 15px auto;
}

.flex-register {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.flex-register p {
  font-weight: 500;
  font-size: 14px;
}

.flex-register .yellow {
  color: #fb8f07;
}

.flex-register .yellow a {
  color: #fb8f07;
  text-decoration: none;
  padding-left: 3px;
}

.privacy-terms {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

.login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
}

.login-checkbox {
  position: relative;
  color: #fb8f07;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #fb8f07;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "\f00c";
  font-family: "FontAwesome";
  position: relative;
  left: 1px;
  color: black;
}

.restore {
  color: #fb8f07;
  text-decoration: none;
  font-size: 14px;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.social a {
  text-align: center;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 10px 10px 0;
}

.social a img {
  width: 100%;
  height: 100%;
}

h2 {
  display: none;
  color: #fb8f07;
  font-size: 20px;
  text-align: center;
  padding: 30px 0px;
}

.login-container {
  display: flex;
}

.login-aside {
  display: none;
  flex-basis: 50%;
  background-color: #4f802c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.login-aside h2 {
  color: white;
  font-size: 25px;
}

.login-aside p {
  padding: 10px 0px;
}
.flex-social{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.login-aside .link-register {
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 0px;
}

.login-aside .link-register:hover,
.login-aside .link-register:active {
  background-color: white;
  color: #4f802c;
  transition: ease-in 0.15s;
}
.login-message{
  height: 40px;
  padding: 10px 0px;
}
.login-message p{
  color: red;
}
@media screen and (min-width: 768px) {
  .login-container {
    height: 550px;
  }

  h2 {
    display: inline;
  }

  .login-aside {
    display: flex;
  }

  .login-form {
    flex-basis: 50%;
    padding: 0px 40px;
  }

  .privacy-terms {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .login-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .login-container {
    width: 1000px;
    margin: 0 auto;
  }
}
