.nav-bar{
    background: #333333;
}

.visibleMenuLink{
    color: white;
    display: block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.visibleMenuLink:hover{
    background: white;
    color: #333333;
}

.invisibleMenuLink {
    display: none;
}