.blue-info {
	display: flex;
	justify-content: space-around;
	background-color: #DEEFFE;
  margin: 2%;
  padding: 15px 0;
  border-radius: 10px;
}
.about-us-h1 {
  margin: 10px 5%;
  font-size: 35px;
}
.read-more {
	color: #F19143;
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.flex-article-part {
	width: 50%;
}
.flex-image-part {
	width: 40%;
}
.flex-image {
	width: 100%;
  margin-top: 20%;
}
.flex-article-part-h2 {
  color: #50802C;
  font-family: "Recursive", sans-serif;
  font-weight: 800;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: inline;
    margin: 5px 0;
}
.flex-article {
  font-family: "Recursive", sans-serif;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
.work-info {
  margin: 10px 5%;
}
.work-info .green {
  background-color: #E3FCE6;
}
.work-info .orange {
  background-color: #FFF6E5;
}
.work-info .blue {
  background-color: #E8F9FE;
}
.box-info {
  width: 50px;
  height: 40px;
  border-radius: 7px;
  margin: 20px 0;
}
.fa-table, .fa-pen-nib, .fa-tablet-alt {
  margin-left: 9px;
  margin-top: 5px;
}
.work-info-h3 {
  font-size: 16px;
  margin: 15px 0;
}
.work-info-p {
  margin: 15px 0;
  line-height: 23px;
}
.our-team {
  margin-top: 5%;
  margin-left: 5%;
}



/*Слайдер*/
.contain {
  width: 100%;
}
.row {
  overflow-x: scroll;
  width: 100%;
}
.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 50;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
}
.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}
