.container {
    max-width: 1150px;
    width: 100%;
    margin: 15px auto;
    padding: 0 20px;
}

.title {
    font-size: 24px;
}

.wrapper {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    margin: 15px 0;
    word-break: break-word;
    word-wrap: break-word;
}

.editLinkWrapper {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
}

.editLink {
    cursor: pointer;
    color: #00529f;
    font-size: 15px;
}

.editLink:hover {
    text-decoration: underline;
}

.table {
    width: 100%;
}

.tbody {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 20px;
}

.col {
    color: #333;
    font-weight: 500;
    display: inline-block;
    word-break: break-word;
    word-wrap: break-word;
}

.col:nth-child(1) {
    min-width: 295px;
    width: 295px;
    font-weight: bold;
}

.col:nth-child(2) {
    line-height: 25px;
    width: 100%;
}

@media screen and (max-width: 769px) {
    .container {
        margin: 75px auto;
    }

    .wrapper {
        background-color: #F3F6FA;
    }

    .row {
        display: block;
    }

    .col:nth-child(1) {
        min-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 551px){
    .row {
        width: 100%;
    }

    .row:nth-child(2n) {
        margin-left: 0;
    }
}
