footer{
    margin-top: 40px;
    display: none;
}

.menu{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}

.line{
    background-color: #ADBEA5;
    height: 1px;
    width: 75%;
    margin: 0 auto;
}

footer .social{
    display: flex;
    width: 25%;
    margin: 30px auto;
    justify-content: space-between;
}

footer .social img{
    height: auto;
    width: 30px;
}

.privacy-terms{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px){
    footer{
        display: block;
    }
}

@media screen and (min-width: 2000px){
    footer{
        padding: 0px 10%;
    }
}