* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  margin: 10px;
}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scal {
  display: none;
}
.slogan {
  color: #50802c;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 5px 0;
}

.ready {
  font-family: "Recursive", sans-serif;
  margin: 5px 0;
}

.map {
  width: 100%;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.log-in,
.sign-up {
  width: 49%;
  height: 50px;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.log-in {
  background-color: white;
  border: 2px solid #edad08;
  color: #edad08;
  font-weight: 600;
}

.sign-up {
  background-color: #50802c;
  border: none;
  color: white;
  font-weight: 300;
}

.desktop {
  display: none;
}
.map {
  height: 100%;
}
.map-container {
  height: 100%;
}
/* .page {
  display: flex;
  flex-direction: column;
  height: auto;
}
main {
  flex: 1 1 0;
  height: 100%;
} */
.leaflet-container {
  height: calc(100vh - 60px);
}

@media screen and (min-width: 1024px) {
  .leaflet-container {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .leaflet-container {
    height: 400px;
  }
  /* .leaflet-container {
    height: 100%;
  } */

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .flex-search-map {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .search {
    width: 20%;
  }

  .desktop-map {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .slogan {
    font-size: 24px;
  }

  .green {
    background-color: #50802c;
  }

  .search-block {
    height: 30px;
    margin-bottom: 10px;
  }

  .map-block {
    height: 10px;
  }

  .get-start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
  }

  .regular {
    font-family: "Recursive", sans-serif;
    margin: 40px 0;
    font-size: 20px;
    font-weight: 400;
  }

  .bold {
    font-weight: bold;
    font-size: 26px;
  }

  .get-start-left {
    width: 30%;
  }

  .get-start-right {
    width: 500px;
    display: flex;
    justify-content: space-around;
  }

  .get-start-right button {
    margin: 70px 0;
  }

  .container-search {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  .container-search input#search {
    font-family: "Recursive", sans-serif;
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    font-size: 16px;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .container-search .icon {
    position: absolute;
    top: 10px;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #838aa6;
  }

  .log-in-desktop {
    background-color: #fa881a;
    border: 1px solid #fa881a;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-up-desktop {
    background-color: #50802c;
    border: 1px solid white;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
  }

  .left-part {
    width: 40%;
  }

  .right-part {
    width: 40%;
  }

  .right-part-img {
    width: 40%;
    display: flex;
    align-items: center;
  }

  .last-part {
    margin: 70px 0;
  }

  .about-trees {
    align-items: center;
    margin-top: 30px;
  }

  .fas {
    color: #1d53aa;
    margin: 20px 0;
  }

  .regular-small {
    font-family: "Recursive", sans-serif;
    font-size: 16px;
    font-weight: 200;
  }
}
