.add-tree-form-container span {
    font-size: 100%;
    color: #4b4b4b;
    display: inline-block;
}

@media screen and (min-width: 1200px) {
    .add-tree-form-container {
        width: 80%;
        margin: 0 auto;
    }

    .add-tree-form-container input {
        text-align: right;
        width: 21%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .metric {
        font-size: 100%;
    }

    .add-tree-form-container .metric.margin {
        margin-right: 2%;
    }

    .add-tree-form-container .metric.margincm {
        margin-right: 1%;
    }

    .add-tree-form-container input[type=text]{
        width: 70.6%;
    }

    .add-tree-form-container input[type=email]{
        width: 70.6%;
    }

    .add-tree-form-container input[type=datetime-local]{
        margin-right: 2%;
    }

    .add-tree-form-container span {
        width: 20%;
    }

    .add-tree-form-container input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .add-tree-form-container select {
        font-size: 100%;
        width: 70.6%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }


    .add-tree-form-container .main {
        width:1150px;
        border-radius: 1.7%;
        background-color: white;
        margin: 0 auto;
        padding: 2%;
        flex-wrap: wrap;
    }


    .add-tree-form-container select.status {
        width: 21%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
    }

    .add-tree-form-container .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 21%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .add-tree-form-container .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .add-tree-form-container .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .add-tree-form-container .center.h4 {
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 992px) and (max-width : 1199px) { 
    .add-tree-form-container {
        width: 75%;
        margin: 0 auto;
    }

    .add-tree-form-container input{
        text-align: right;
        width: 20%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .metric {
        font-size: 100%;
    }

    .add-tree-form-container .metric.margin {
        margin-right: 3%;
    }

    .add-tree-form-container .metric.margincm {
        margin-right: 1.5%;
    }

    .add-tree-form-container input[type=text]{
        width: 70.6%;
    }

    .add-tree-form-container input[type=email]{
        width: 70.6%;
    }

    .add-tree-form-container input[type=datetime-local]{
        margin-right: 3%;
    }

    .add-tree-form-container span {
        width: 21%;
    }

    .add-tree-form-container select {
        font-size: 100%;
        width: 70.6%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .add-tree-form-container .main {
        width:850px;
        border-radius: 5.7px;
        background-color: white;
        margin: 0 auto;
        padding: 0 4%;
        flex-wrap: wrap;
    }

    .add-tree-form-container select.status {
        width: 21%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
    }

    .add-tree-form-container .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 20%;
        margin: 1.7% 3% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .add-tree-form-container .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .add-tree-form-container .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .add-tree-form-container .center.h4 {
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 614px) and (max-width: 991px) {
    .add-tree-form-container input{
        text-align: right;
        width: 17%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .metric {
        font-size: 100%;
    }


    .add-tree-form-container .metric.margin {
        margin-right: 4%;
    }

    .add-tree-form-container .metric.margincm {
        margin-right: 2%;
    }

    .add-tree-form-container input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .add-tree-form-container input[type=text]{
        width: 70.6%;
    }

    .add-tree-form-container input[type=email]{
        width: 70.6%;
    }

    .add-tree-form-container input[type=datetime-local]{
        margin-right: 4%;
    }

    .add-tree-form-container span {
        width: 23%;
        word-wrap: break-word;
    }

    .add-tree-form-container select {
        font-size: 100%;
        width: 70.6%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .main {
        width: 700px;
        border-radius: 1.7%;
        background-color: white;
        margin: 0 auto;
        padding: 3%;
        flex-wrap: wrap;
    }

    .add-tree-form-container select.status {
        width: 17%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
    }

    .add-tree-form-container .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 17%;
        margin: 1.7% 4% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .add-tree-form-container .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .add-tree-form-container .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .add-tree-form-container .center.h4{
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 481px) and (max-width: 613px) {
    .add-tree-form-container input{
        text-align: right;
        width: 62%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 100%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .metric {
        font-size: 100%;
    }

    .add-tree-form-container input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .add-tree-form-container span {
        width: 25%;
        word-wrap: break-word;
    }

    .add-tree-form-container select {
        font-size: 100%;
        width: 62%;
        padding: 1%;
        text-align-last: right;
        margin: 1.7%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .main {
        width: 430px;
        border-radius: 1.7%;
        background-color: #F3F6FA;
        margin: 0 auto;
        padding: 5%;
        flex-wrap: wrap;
    }

    .add-tree-form-container .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 62%;
        margin: 1.7%;
        font-size: 100%;
        padding: 1%;
        text-align:right;
    }

    .add-tree-form-container .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 125%;
    }

    .add-tree-form-container .block {
        display: block;
    }

    .add-tree-form-container .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 175%;
    }

    .add-tree-form-container .center.h4 {
        margin:1%;
        font-size: 125%
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .add-tree-form-container input{
        text-align: right;
        width: 55%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .metric {
        font-size: 50%;
    }

    .add-tree-form-container input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .add-tree-form-container span {
        font-size: 50%;
        width: 25%;
        word-wrap: break-word;
    }

    .add-tree-form-container select {
        text-align-last: right;
        width: 55%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .main {
        width:300px;
        border-radius: 1.7%;
        background-color: #F3F6FA;
        margin: 0 auto;
        padding: 2%;
        flex-wrap: wrap;
    }

    .add-tree-form-container .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 55%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        text-align:right;
    }

    .add-tree-form-container .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 75%;
        word-wrap: normal;
    }

    .add-tree-form-container .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 100%;
    }

    .add-tree-form-container .center.h4 {
        margin:1%;
        font-size: 75%
    }

    .add-tree-form-container .block {
        display: block;
    }
}

@media screen and  (max-width: 320px) {
    .add-tree-form-container input{
        text-align: right;
        width: 35%;
        margin: 1.7% 0% 1.7% 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
   }

    .add-tree-form-container .metric {
        font-size: 50%;
    }

    .add-tree-form-container input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
   }


    .add-tree-form-container span {
        font-size: 50%;
        width: 35%;
    }

    .add-tree-form-container select {
        text-align-last: right;
        width: 35%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .add-tree-form-container .main {
        width:220px;
        border-radius: 1.7%;
        background-color: #F3F6FA;
        margin: 0 auto;
        padding: 2%;
        flex-wrap: wrap;
    }

    .add-tree-form-container .identifier {
        border: 1px solid #666;
        background-color: #d4d4d4;
        width: 35%;
        margin: 1.7%;
        font-size: 50%;
        padding: 1%;
        text-align:right;
    }

    .add-tree-form-container .block {
        display: block;
    }

    .add-tree-form-container .center.p {
        margin:1%;
        color: rgba(0,0,0,0.5);
        font-size: 75%;
    }

    .add-tree-form-container .center.h3 {
        margin:1%;
        color: rgba(0,0,0,0.8);
        font-size: 100%;
    }

    .add-tree-form-container .center.h4 {
        margin:1%;
        font-size: 75%
    }   
}

.add-tree-form-container input[type=file] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5.7px;
}

.add-tree-form-container input[type=submit] {
    background-color: #50802c;
}

.add-tree-form-container input[type=button] {
    background-color: #757575;
}

.add-tree-form-container input[type=submit], .add-tree-form-container input[type=button] {
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    width: 50%;
}

.add-tree-form-container input[type=submit]:hover, .add-tree-form-container input[type=button]:hover {
    opacity: 0.8;
}

.add-tree-form-container input[type=submit]:disabled {
    opacity: 0.5;
}

.add-tree-form-container input[type=submit]:active{
    opacity: 1;
}

.add-tree-form-container button {
    color: white;
    background-color: #50802c;
    border: none;
    text-align: center;
    padding: 2%;
    width: 50%;
}

.add-tree-form-container .center {
    text-align: center;
}

.add-tree-form-container .submit, .add-tree-form-container .cencel-button {
    text-align: center;
}

.add-tree-form-container .submit:hover {
    text-align: center;
}

.add-tree-form-container .input__file {
    width: 20%;
    visibility: hidden;
    position: absolute;
}

.add-tree-form-container .input-wrapper {
    position:sticky;
}

.add-tree-form-container .fileform {
    cursor: pointer;
    position: relative;
    padding: 0.1%;
    text-align: left;
}

.add-tree-form-container .fileform.selectbutton {
    color: #3388ff;
    border:1px solid #3388ff;
    border-radius: 2.8px;
    left: 10%;
    font-size: 100%;
    padding: 0.05% 0.15%;
    text-align: center;
    width: 20%;
    position: absolute;
}

.add-tree-form-container .fileform.upload{
    width: 100%;
}

.add-tree-form-container .fileform.fileformlabel {
    float: left;
    border: 1px solid #000000;
    height: 2%;
    font-size: 100%;
    position: absolute;
    padding: 0.05% 0.15%;
    text-align: left;
    width: 50%;
}







