.addTreeForm {
    margin: 20px 0;
}

.addTreeFormContainer {
    padding: 0 9px;
}

.addTreeFormTitle,
.addTreeSubTitle,
.addTreeFormBlockTitle {
    margin-top: 5px;
    text-align: center;
}

.addTreeFormBlockTitle {
    margin-bottom: 5px;
}

.addTreeFormBlock {
    background-color: #F3F6FA;
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    margin-bottom: 15px;
}

.addTreeFormBlockPrefix {
    display: block;
    font-size: 16px;
    width: 100%;
    margin: 5px 0;
}

.addTreeFormBlockValue {
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 35px;
}

.addTreeFormBlockSelect {
    text-align-last: left;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 35px;
}

.addTreeFormBlockSelectOption {
    text-align: left;
}

.addTreeFormBlockFileItem {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.addTreeFormButton {
    color: white;
    background-color: #4eb543;
    border-color: #4eb543;
    text-align: center;
    width: 50%;
    opacity: 0.6;
    height: 35px;
}

.geopositionWrapper {
    width: 100%;
    line-height: 21px;
}

.geopositionItem {
    width: 100%;
    display: block;
}

@media screen and (min-width: 550px) {
    .addTreeFormBlockWrapper {
        position: relative;
        margin-top: 20px;
    }

    .addTreeFormBlockWrapper:first-child {
        margin-top: 0;
    }

    .addTreeFormWrapperFlex {
        margin-top: 20px;
    }

    .addTreeFormBlockPrefix {
        display: inline-block;
        width: 30%;
    }

    .addTreeFormBlockValue,
    .addTreeFormBlockSelect {
        position: absolute;
        width: 68%;
        top: 0;
        right: 0;
    }

    .geopositionWrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 68%;
        display: inline-block;
    }

    .geopositionItem {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .addTreeFormTitle {
        font-size: 25px;
    }

    .addTreeFormBlockTitle {
        font-size: 20px;
    }

    .addTreeSubTitle {
        color: #4b4b4b;
    }

    .addTreeForm {
        max-width: 1150px;
        width: 100%;
        margin: 20px auto 20px auto;
    }

    .addTreeFormWrapperFlex {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .addTreeFormBlock {
        background-color: #fff;
        padding: 25px 30px 30px 30px;
    }

    .addTreeFormBlockPrefix {
        color: #4b4b4b;
        max-width: 215px;
        width: 100%;
    }

    .addTreeFormBlockWrapperDesktop {
        width: 49%;
    }

    .addTreeFormBlockWrapperDesktop:first-child {
        margin-top: 20px;
    }

    .addTreeFormBlockWrapperDesktop:nth-child(2n) {
        margin-left: 2%;
    }

    .addTreeFormBlockSelect, .addTreeFormBlockValue {
        position: static;
        width: 77.5%;
    }

    .addTreeFormBlockWrapperDesktop .addTreeFormBlockValue {
        width: 54%;
    }

    .geopositionWrapper {
        position: static;
    }

    .addTreeFormBlockWrapper {
        display: flex;
    }
}







