.map-button {
    height: 40px;
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #50802c;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 30px;
}

.fa-sign-in {
    margin-right: 10px;
    font-size: 30px;
}

.map-button:hover{
    background-color: #6bc22a;
}

.map-button:disabled{
    background-color: #b9c5b0;
}

@media screen and (min-width: 768px) {
    .map-button {
        top: 180px;
        position: absolute;
        z-index: 999;
    }
}